.login-btn:hover {
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.5s ease-in-out;

}

.settings-btn:hover {
    background-color: #ced0d335;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    transition: 0.5s ease-in-out;

}

.angle-down:hover {
    transform: rotate(0.5turn);
    transition: 0.5s ease-in-out;
}

@media (max-width:450px) {
    .body {
        width: 100vw;
    }

    .header {
        display: flex;
        flex-direction: row;
    }

    .image-flip {
        width: 5rem;
        margin-top: 0.5rem;
        margin-left: 11rem;

    }

    .search-bar {
        height: 2rem;
        display: flex;
        justify-content: center;
    }

    .header-input {
        height: 2rem;

    }

}